<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
	<div class="card-block">
	  <h2 class="card-title">Some meandering background&hellip;</h2>
	  <p class="card-text">
	    Although approximately thirty centuries too late to be ahead of the trend,
	    I've been thinking about the role of papers in the practical education
	    of software for a while, with
	    <a href="http://lethain.com/hands-on-review-of-the-dynamo-paper/">bedraggled published evidence</a>
	    as far back as 2009,
	    <a href="http://lethain.com/hosting-paper-reading-group/">onwards into 2012</a>,
	    and I've participated or started a paper reading group on every team that I've had
	    the opportunity to work with. While many phenomenal programs these days do teach
	    some popular software engineering papers, many simply don't have room in their
	    curriculums, and consequently many people never have the opportunity to be exposed
	    to the exciting, innovative and inane papers our industry produces.
	  </p>
	  <p class="card-text">
	    So, the first motivating idea was to build something that might start off a career of learning.
	  </p>	   
	  <p class="card-text">
	    One of the recurring themes that comes from paper reading groups is the assertion that a given
	    paper doesn't relate to the <i>actual work</i> at hand. Personally, I tend to think if you look
	    hard enough that you can always find something relevant to your work, but it's certainly true that
	    if you only studied papers, you would miss out on many of the most interesting techniques of the
	    trade which are not novel enough to document in a paper but which are useful enough to use for a
	    lifetime.
	  </p>
	  <p class="card-text">
	    Thus the second motivating idea: finding ways to explore the
	    useful systems and ideas that you'll want in your personal toolkit.
	  </p>
	  <p class="card-text">
	    Setting off to explore this idea, I started with a simple site for listing papers,
	    and then set off the concept of a <a href="https://projecteuler.net/">Project Euler</a>-like
	    concept for building and verifying systems. Each time I started working on one, I started to
	    get distracted by the other, so in time honored tradition I ended up building both.
	  </p>
	  <p class="card-text">
	    This is a very new idea, so please send feedback via Twitter to <a href="https://twitter.com/lethain">@lethain</a>
	    or shoot me an email at <code>lethain[at]google's email service</code>.
	  </p>
	  <p class="card-text">	  
	    (You can also find <a href="https://lethain.com/">my incoherent scribling on my blog</a>.)
	  </p>	  
	</div>
      </div>
    </div>
  </div>
</div>
