<div class="container">
  <div class="col-sm-12">
    <h2>Add paper</h2>
    <form method="post">
      <div class="form-group row">
	<label for="example-url-input" class="col-xs-2 col-form-label">URL</label>
	<div class="col-xs-10">
	  <input class="form-control" name="link" id="link" type="url" value="">
	</div>
      </div>
      
      <div class="form-group row">
	<label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
	<div class="col-xs-10">
	  <input class="form-control" name="name" id="name" type="text" value="">
	</div>
      </div>

      <div class="form-group row">
	<label for="example-text-input" class="col-xs-2 col-form-label">Topic</label>
	<div class="col-xs-10">
	  <input class="form-control" name="topic" id="topic" type="text" value="">
	</div>
      </div>

      <div class="form-group row">
	<label for="example-text-input" class="col-xs-2 col-form-label">Year</label>
	<div class="col-xs-10">
	  <input class="form-control" name="year" id="year" type="text" value="">
	</div>
      </div>
      
      <div class="form-group row">
	<label for="example-text-input" class="col-xs-2 col-form-label">Description</label>
	<div class="col-xs-10">
	  <textarea class="form-control" name="description" id="description" type="text"></textarea>
	</div>
      </div>      

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
