
<div class="container">
  <div class="col-sm-2">
    <form id="filters" class="form">
      <div class="form-group">
	<label  for="difficulty">Difficulty</label>
	<select class="form-control" id="difficulty">
	  <option>All</option>
	  <option>Easy</option>
	  <option>Medium</option>
	  <option>Hard</option>
	</select>
      </div>

      <div class="form-group">
	<label  for="topic">Topic</label>
	<select class="form-control" id="topic">
	  <option>All</option>
	  <option>Databases</option>
	  <option>Distributed Systems</option>
	  <option>Operating Systems</option>
	</select>
      </div>
	
      <div class="form-group">
	<label  for="finished">Read</label>
	<select class="form-control" id="finished">
	  <option>All</option>	  
	  <option>Unread</option>
	  <option>Read</option>
	</select>
      </div>
      
    </form>
  </div>

  <div class="col-sm-10">
    <table class="table">
      <thead class="thead-inverse">
	<tr>
	  <th>#</th>
	  <th>Name</th>
	  <th>Difficulty</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <th scope="row">1</th>
	  <td><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiKp9K_0dvQAhXCjVQKHWc6B04QFggaMAA&url=http%3A%2F%2Fs3.amazonaws.com%2FAllThingsDistributed%2Fsosp%2Famazon-dynamo-sosp2007.pdf&usg=AFQjCNEpBjuspsc5JvGcLtzw39GGRN-chA&sig2=dJhx8VvETQozCiz6wRk0bA&bvm=bv.139782543,d.cGw">Dynamo: Amazon's Highly Available Key Value Store</a> </td>
	  <td>Easy</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
