
<div class="container">
  <div class="col-sm-12">
    <form class="form">
      <div class="col-sm-3">      
      <div class="form-group">
	<label class="sr-only" for="difficulty">Difficulty</label>
	<select class="form-control" id="difficulty">
	  <option>All Difficulties</option>
	  <option>Easy</option>
	  <option>Medium</option>
	  <option>Hard</option>
	</select>
      </div>
      </div>
      <div class="col-sm-3">      

      <div class="form-group">
	<label class="sr-only" for="topic">Topic</label>
	<select class="form-control" id="topic">
	  <option>All Topics</option>
	  <option>Databases</option>
	  <option>Distributed Systems</option>
	  <option>Operating Systems</option>
	</select>
      </div>
      </div>
      <div class="col-sm-3">
	
      <div class="form-group">
	<label class="sr-only" for="finished">Read</label>
	<select class="form-control" id="finished">
	  <option>Unread</option>
	  <option>Read</option>
	  <option>Read &amp; Unread</option>
	</select>
      </div>

      </div>
      
    </form>
  </div>
</div>


<div class="container">
  <div class="col-sm-12">
    <table class="table">
      <thead class="thead-inverse">
	<tr>
	  <th>#</th>
	  <th>Name</th>
	  <th>Topics</th>
	  <th>Difficulty</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <th scope="row">1</th>
	  <td><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiKp9K_0dvQAhXCjVQKHWc6B04QFggaMAA&url=http%3A%2F%2Fs3.amazonaws.com%2FAllThingsDistributed%2Fsosp%2Famazon-dynamo-sosp2007.pdf&usg=AFQjCNEpBjuspsc5JvGcLtzw39GGRN-chA&sig2=dJhx8VvETQozCiz6wRk0bA&bvm=bv.139782543,d.cGw">Dynamo: Amazon's Highly Available Key Value Store</a> </td>
	  <td><a href="#">Distributed Systems</a>, <a href="#">Databases</a></td>
	  <td>Easy</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
