<div class="container">
  <div class="col-sm-12">
    <table class="table">
      <thead class="thead-inverse">
	<tr>
	  <th>#</th>
	  <th>Name</th>
	  <th>Read</th>
	  <th>Status</th>
	</tr>
      </thead>
      <tbody>
	<% papers.each do |paper| %>
	<tr>
	  <th scope="row"><%= paper['id'] %></th>
	  <td><a href="<%= paper['link'] %>"><%= paper['name'] %></a></td>
	  <td>0 times</td>
	  <td>New</td>
	</tr>
	<% end %>
      </tbody>
    </table>
  </div>
</div>
