<div class="container">
  <div class="col-sm-2">
    <form id="filters" class="form">
      <div class="form-group">
	<label for="difficulty">Status</label>
	<select class="form-control" id="status" name="status">
	  <option>All</option>
	  <option>New</option>
	  <option>Completed</option>
	</select>
      </div>

    </form>
  </div>

  <div class="col-sm-10">
    <table class="table">
      <thead class="thead-inverse">
	<tr>
	  <th>#</th>
	  <th>Name</th>
	  <th>Solved By</th>	  
	  <th>Status</th>
	</tr>
      </thead>
      <tbody>
	<% systems.each do |system| %>
	<tr>
	  <th scope="row"><%= system['id'] %></th>
	  <td><a href="#"><%= system['name'] %></td>
	  <td>0 times</td>	  
	  <td>New</td>
	</tr>
	<% end %>
      </tbody>
    </table>
  </div>
</div>
