<% if not user %>
<div class="container">
  <div class="col-sm-12">
    <div class="card card-block">
      <h4 class="card-title">Welcome to Systems &amp; Papers!</h4>
      <p class="card-text">
	One of my favorite things to do when joining a new team of engineers is
	to start a <a href="http://lethain.com/hosting-paper-reading-group/">paper reading group</a>,
	with the goal of getting to know a bit more about systems and computer science.
	For some time now, I've been thinking about how to combine the learning from paper reading groups
	with the joy of <a href="https://projecteuler.net/">learning math in Project Euler</a>, and
	<a href="/">Papers &amp; Systems</a> is an attempt to scratch that itch.
      </p>	
      <p class="card-text">
	Learn more, including
	how to send feedback, on the <a href="/about/">About</a> page.
      </p>
      <p class="card-text">
	Have fun
	reading the <a href="/papers/">papers</a> and building the systems;
	login if you want to track your progress!
      </p>
    </div>
  </div>
</div>
<% end %>

<div class="container">
  <div class="col-sm-12">
    <%= systems_table %>
  </div>
</div>
