<div class="container">
  <div class="col-sm-12">
    <div class="card card-block">
      <h4 class="card-title"><%= system['name'] %></h4>
      <p class="card-text">
	Yeah... do some stuff.

      </p>
      <pre><%= system %></pre>
    </div>
  </div>
</div>
