<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-block">
	<h4 class="card-title"><%= system['name'] %></h4>
	<p class="card-text">
	  Yeah... do some stuff.
	  
	</p>
	<pre><%= system %></pre>
      </div>
    </div>
  </div>
  <% if papers.size > 0 %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
	<h4 class="card-header">Related papers</h4>
	<%= papers_table %>
      </div>
    </div>
  </div>
  <% end %>

  
</div>
